
$toast-border-radius: 2px;
$toast-text-width: 340px;

@mixin mixin-toast-color($text-color, $background-color)
{
    .toast-left-wrapper
    {
        background-color: $background-color!important;
    }
    
    &.full-background
    {
        background-color: $background-color!important;
        
        .toast-content-title, .toast-content-message
        {
            color: $text-color;
        }
    }
}

.toast
{
    min-height: 60px;

    background-color: white;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    color: rgb(80, 95, 121);
    display: flex;
    margin-bottom: 8px;
    border-radius: $toast-border-radius;

    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease;

    &.hidden
    {
        opacity: 0;
        transform: translate3d($toast-text-width, 0px, 0px);
    }
    &.leaving
    {
        opacity: 0;
        transform: translate3d($toast-text-width, 0px, 0px);
    }

    .toast-left-wrapper
    {
        background-color: rgb(255, 255, 255);

        border-top-left-radius: $toast-border-radius;
        border-bottom-left-radius: $toast-border-radius;
        color: white;
        flex-shrink: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        position: relative;
        text-align: center;
        min-width: 10px;
        overflow: hidden;

        > i
        {
            padding: 4px 8px;
            font-size: 28px;
        }
    }

    .toast-content-wrapper
    {
        flex-grow: 1;
        font-size: 14px;
        line-height: 1.4;
        min-height: 50px;
        padding: 10px 10px 20px 10px;
        width: $toast-text-width;

        word-break: break-word;
        display: flex;
        flex-direction: column;

        .toast-content-title
        {
            color: #3e3e3e;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 8px;
        }
        .toast-content-message
        {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 0;
            color: #878787;
        }
    }
    .toast-close-wrapper
    {
        flex-shrink: 0;
        opacity: 0.5;
        padding: 8px 12px;
        transition: opacity 150ms ease 0s;

        > span
        {
            cursor: pointer;
            font-weight: bolder;
            &:hover
            {
                color: black;
            }
        }
    }

    &.color-default   { @include mixin-toast-color(#FFF, white); }
    &.color-primary   { @include mixin-toast-color(#FFF, $primary-background); }
    &.color-secondary { @include mixin-toast-color(#FFF, $secondary-background); }
    &.color-success   { @include mixin-toast-color(#FFF, $success-background); }
    &.color-danger    { @include mixin-toast-color(#FFF, $danger-background); }
    &.color-warning   { @include mixin-toast-color(#FFF, $warning-background); }
    &.color-info      { @include mixin-toast-color(#FFF, $info-background); }
    &.color-light     { @include mixin-toast-color(#000, $light-background); }
    &.color-dark      { @include mixin-toast-color(#FFF, $dark-background); }
}
